<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="contact-us">
      <form>
        <input placeholder="Obra" required="" type="text" />
        <textarea cols="30" rows="2" placeholder="Citação"></textarea>
        <input placeholder="Data de Lançamento" type="date" />
        <input name="customerEmail" placeholder="Envio da imagem" type="file" />

        <button type="button">Cadastrar</button>
      </form>
    </div>
  </body>
</html>
